.footer
{
     display:grid;
     grid-template-columns: 1fr 1fr 1fr 1fr ;
     padding: 4vmax;
    background-color: rgb(37, 37, 37);
    color: rgb(197, 197, 197);
}
.footer div
{
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: flex-start;
}
.footer div a
{
     text-decoration: none;
     color: rgb(197, 197, 197);
     display: block;
     font-weight: 200;
     margin-bottom: 1vmax;
     
}
.footer div a:hover
{
     text-decoration:none;
     color:white;
     
}
.footer > div:last-child >button{
     width: 50%;
     min-width: 80px;
     border:1px solid white;
     background-color: rgb(37, 37, 37);
     color: white;
     padding: 0.6vmax 0;
     font-size: 0.98vmax;
     font-weight: 100;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     transition: all 0.5s;
     }
     .footer > div:last-child >button:hover{
          background-color: rgb(248, 244, 244);
          color: rgb(37, 37, 37);
      }
      .footerBorder
      {
            background-color: rgb(37, 37, 37); 
            color: rgb(197, 197, 197);
            padding-bottom:3vmax;
            padding-left:9vmax;
            display: flex;
            justify-content: flex-start;
            
            font-weight: 100;
      }