.itemcard
{
     display: flex;
     flex-direction:column;
      justify-content: center;
      align-items: center;
  
      
      background-color: white;
      height:300px;
      width:300px;
      margin-right:2% ;
      margin-bottom: 15px;
    
}


.itemcard img{
     height: 80%;
     width:100%;
}
.itemcard:hover{
     transform:translateY(-0.3vmax) ;
     box-shadow:0px 3px 15px rgb(68, 67, 67);
}
.itemcard p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:rgb(85,83,83);
}
.itemcard span{
     color:orangered;
     margin: -1vmax 0 1vmax 0;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}