          .products
          {
               display:flex;
               align-items: center;
               justify-content: center;
               flex-wrap: wrap;
               cursor:pointer;
          }
          .products img{
               height:100%;
               width:100%;
               transition: all 0.5s;
          }
          .starprod img:hover{
               box-shadow: 6px 6px 15px rgba(53, 53, 53, 0.363);
           }
            .smallrect
            {
                 height:300px;
             
                 margin:1px;
                 width: 598px;
                
            }
            .smallsquare
            { 
                 height:300px;
                 width:298px;
                 
                 margin:1px;
            }
            .bigsquare
            {
                 display: flex;
                 flex-wrap: wrap;
                 height:601px;
                 width:600px;
               
                 margin:1px ;
            }